body {
  --theme-color--crm: #448af4
  --theme-color--crm-darken1: #448af4
  --theme-sub-color: #f44461
  --theme-font-size-normal: 14px
  --normal-font-color:rgba(24, 24, 24, 1)
  --adj-font-color:rgba(73, 73, 73, 100)
  --theme-primary: #448af4
  --theme-sub: #f44461
  --theme-dark: #181818
  --theme-normal: #494949
  --theme-info: #494949
  --theme-light: #ababab
  --theme-lighter: #e4e4e4
  --mg-sm: 5px
  --mg-n: 10px
  --mg-l: 20px
  --mg-h: 32px
  --pd-sm: 5px
  --pd-n: 10px
  --pd-l: 20px
  --pd-h: 32px

  --color-primary: #448af4
  --color-primary-70: #7CADF7
  --color-primary-30: #C7DCFC
  --color-primary-40: alpha(#448af4, 40%)
  --color-primary-20: #DAE8FD
  --color-primary-7: #F2F7FE

  --color-positive: #18c067
  --color-positive-70: #5DD395
  --color-positive-40: alpha(#18c067, 40%)
  --color-positive-30: #BAECD1
  --color-positive-20: #D1F2E1
  --color-positive-7: #EFFBF4

  --color-emphasis: #F44461
  --color-emphasis-70: alpha(#F77C90, 70%)
  --color-emphasis-40: alpha(#f44461, 40%)
  --color-emphasis-30: alpha(#FCC7D0, 30%)
  --color-emphasis-20: alpha(#FDDADF, 20%)
  --color-emphasis-7: alpha(#FEF2F4, 7%)

  --color-neutral: #181818
  --color-neutral-70: #494949
  --color-neutral-40: rgba(0, 0, 0, 0.4)
  --color-neutral-30: #ababab
  --color-neutral-7: #e4e4e4
  --color-neutral-3: #F7F7F7

  --color-success: #18c067

  --fsize-small: 12px
  --line-height-small: 20px
  --fsize-normal: 14px
  --line-height-normal: 22px
  --fsize-large: 16px
  --line-height-large: 24px
  --fsize-huge: 20px
  --line-height-huge: 28px

  --gap-small: 5px
  --gap-middle: 10px
  --gap-large: 20px
  --gap-huge: 32px

}
