@font-face {
  font-family: "iconfont"; /* Project id 2528796 */
  src: url('iconfont.woff2?t=1628219433237') format('woff2'),
       url('iconfont.woff?t=1628219433237') format('woff'),
       url('iconfont.ttf?t=1628219433237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshuju:before {
  content: "\e640";
}

.iconbiaoge:before {
  content: "\e641";
}

.icongengduo:before {
  content: "\e63f";
}

.iconshandian:before {
  content: "\e63d";
}

.icona-biaoqian1:before {
  content: "\e63e";
}

.iconshipin:before {
  content: "\e639";
}

.iconyuanjibie:before {
  content: "\e632";
}

.iconjiesuo:before {
  content: "\e62e";
}

.iconsuoding:before {
  content: "\e630";
}

.iconxinxi1:before {
  content: "\e626";
}

.iconMCNguanli:before {
  content: "\e61f";
}

.iconhuodongguanli:before {
  content: "\e620";
}

.iconjiliguanli1:before {
  content: "\e637";
}

.iconUPzhuguanli1:before {
  content: "\e638";
}

.iconweimi1:before {
  content: "\e63a";
}

.iconshequguanli:before {
  content: "\e63b";
}

.icontongyongfuwu:before {
  content: "\e63c";
}

.iconfensi1:before {
  content: "\e635";
}

.iconbozhuanfen1:before {
  content: "\e636";
}

.iconlianjie1:before {
  content: "\e634";
}

.iconcaozuorizhi:before {
  content: "\e621";
}

.iconquanxianguanli:before {
  content: "\e622";
}

.iconduihuanshangcheng:before {
  content: "\e623";
}

.iconhuodongliucheng:before {
  content: "\e624";
}

.iconqianyueguanli:before {
  content: "\e625";
}

.iconOKRguanli:before {
  content: "\e627";
}

.iconpingfenguanli:before {
  content: "\e628";
}

.iconmubiaoguanli:before {
  content: "\e629";
}

.iconbaobiaoguanli:before {
  content: "\e62a";
}

.icongaojianshouquan:before {
  content: "\e62b";
}

.iconhuodongjinguanli:before {
  content: "\e62c";
}

.iconjingpinfenxi:before {
  content: "\e62d";
}

.iconUPzhurenqunbao:before {
  content: "\e62f";
}

.iconyijianjianlian:before {
  content: "\e631";
}

.iconbiaoqianku:before {
  content: "\e633";
}

.iconbofang4:before {
  content: "\e61e";
}

.iconshangchuan:before {
  content: "\e61d";
}

.iconsousuo:before {
  content: "\e61c";
}

.iconzhongzhi:before {
  content: "\e61b";
}

.icondingwei:before {
  content: "\e61a";
}

.icon69daochu:before {
  content: "\e619";
}

.iconshanchu:before {
  content: "\e618";
}

.iconbianji:before {
  content: "\e614";
}

.iconyanjing:before {
  content: "\e615";
}

.iconfuzhi:before {
  content: "\e616";
}

.iconpaixu-zuo:before {
  content: "\e612";
}

.iconpaixu-you:before {
  content: "\e613";
}

.iconic_play:before {
  content: "\e601";
}

.iconic_collection:before {
  content: "\e602";
}

.iconic_danmu:before {
  content: "\e603";
}

.iconic_sort:before {
  content: "\e604";
}

.icon227yonghu_xingbie:before {
  content: "\e605";
}

.iconicon_Certification_e:before {
  content: "\e606";
}

.iconic_praise:before {
  content: "\e607";
}

.iconic_comment:before {
  content: "\e608";
}

.iconic_share:before {
  content: "\e609";
}

.iconic_Coin:before {
  content: "\e60a";
}

.iconcaidanrenwugengduo:before {
  content: "\e60b";
}

.iconicon_Certification_o:before {
  content: "\e60c";
}

.iconcaidan1:before {
  content: "\e60d";
}

.iconxingbie-nv:before {
  content: "\e60e";
}

.iconshoucang:before {
  content: "\e60f";
}

.iconxingbie-nan:before {
  content: "\e610";
}

.iconcaidan:before {
  content: "\e611";
}

